$primary-color-light: #baf9a9;
$secondary-color-light: #f49ae8;
$text-color-light: black;
$primary-color-dark: #0A1A33;
$secondary-color-dark: #570644;
$text-color-dark: white;
$section-bg-color: #c4c7cc;
$character-card-color: #0b304a;
$character-gryffindor-color: #4d0506;
$character-slytherin-color: #25581f;
$character-none-color: gray;
