$primary-color: #0A1A33;
$secondary-color: #5D81BA;
$title-color: white;
$section-bg-color: #c4c7cc;
$character-card-color: #0b304a;
$character-gryffindor-color1: #4d0506;
$character-slytherin-color1: #25581f;
$character-none-color: gray;
