$page-band-color-light: #BFC0C0;
$primary-color-light: #95B198;
$secondary-color-light: #71B1C1;
$secondary-color-accent-light: #CEE7E6;
$text-color-light: black;
$primary-color-dark: #0A1A33;
$secondary-color-dark: #570644;
$text-color-dark: rgb(255, 255, 255);
$section-bg-color-light: rgba(255,255,255,0.3);
$character-card-color: #0b304a;
$character-gryffindor-color: #4d0506;
$character-slytherin-color: #25581f;
$character-none-color: gray;
