@import "variables";
@import "mixins";

body {
    @include setup;
    background-color: $secondary-color;
    color:aliceblue;
}

.container {
    @include flex(row);
    justify-content:space-between;
    padding: 10vh 10vw;
    background-color: $primary-color;
    margin: 10vh 5vw;
    
}

#portraitURL {
    width: 300px;
    //padding-top: 20px;
    //align-self: center;
    //border-radius: 70%;
}

.info-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid $secondary-color     

}

.info-box h2,h3 {
    display: inherit;
    justify-content: inherit
}

.section:nth-child(even){
    background-color: #0f0f0f;
}

.section div:nth-child(odd){
    background-color: #050505;
}

.info-box h3{
    border-top: 2px solid $secondary-color;
    margin: 0;
    padding: 10px 0;
}

.list {
    display: flex;
    align-items: baseline !important;
}

.info-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $secondary-color;
    padding: 0px 10px;
    
}

.gryffindor {
    background-color: $character-gryffindor-color;
}


.slytherin {
    background-color: $character-slytherin-color;
}

.none {
    background-color: $character-none-color;
}

.content {
    //flex-direction: column;
   // justify-content: center;
    width: 40vw;
}

.content p {
    width: 40vw;;
}
