body{
    margin: 0%;
    height: 100vh;
}

.logo{
    height: 100vh;
    background-size: cover;
    background-image: url("../../logo.jpg");
}

div.page-band{
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba(15, 15, 15);
    padding: 20px;  
    color: white;
    opacity: 0.3;
}


div.page{
    display:grid;
    height: 100%;
    grid-template-rows: 150px 1fr 200px;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
    "menu title"
    "menu content"
    "footer footer";
}

header{
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 26, 51);
    color: white;
}

nav{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 129, 186);
}

main{
    grid-area: content;
    display: flex;
   // height: 1000px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(196, 199, 204);
}

//books css
.book-card {
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    width: 70%;
    margin: 5px;
}
  
.book-card-content {
    padding: 2px 16px;
    text-align: justify;
}

.book-card img{
    height: 40vh;
    float:left;
    margin: 10px;
}

//films css
.film-card {
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    width: 70%;
    margin: 5px;
}
  
.film-card-content {
    padding: 2px 16px;
    text-align: justify;
}

.film-card img{
    height: 40vh;
    float:left;
    margin: 10px;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    background-color:rgba(23, 31, 50);
    color: white;
}

#nav-toggle {
    display: none;
    background: transparent;
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 0;
}

ul {
    display: block;
    margin: 0%;
    padding:0%;
}

.options{
    display: flex;
    flex-direction: column;
    position:sticky;
    top:58px;
}

.options ul li{
    list-style-type: none;
    // border-top: solid 2px green;
    // border-left: solid 2px green; 
    // border-right: solid 2px green; 
}

.options ul li:hover{
    background-color: antiquewhite;
}

.options ul li:last-child {
    // border-bottom: solid 2px green; 
}

a{
    display: block;
    text-decoration: none;
    padding: 20px;
    margin: 0%;
}

@media screen and (max-width: 600px) {
    div.page{
        grid-template-rows: 50px 100px 1fr 100px;
        grid-template-columns: 1fr;
        /* gap: 5px 10px; */
        grid-template-areas:
        "menu"
        "title"
        "content"
        "footer";
    }
    
    #nav-toggle{
        display: block;
    }

    .options ul{
        display: none;
        background-color: bisque;
        position: absolute;
    }

    .show {
        display: block !important;
    }
    
    nav {
        padding: 10px;
        position:sticky;
        top:58px;
    }

    .logo{
        background-position: center;
    }

    .book-card{
        width: 100%;
    }
    
    .film-card{
        width: 100%;
    }
}
