@import "variables";
@import "mixins";

.light{
    color:$text-color-light;
    background-color: $page-band-color-light;
    div.page-band{
        background-color: $page-band-color-light;
    }
    .container {
        background-color: $primary-color-light;
    }
    .info-box {
        border: 2px solid $secondary-color-accent-light; 
    }
    .info-box-content {
        border-top: 2px solid $secondary-color-accent-light;
    }
    .info-box h3{
        border-top: 2px solid $secondary-color-accent-light;
    }
    .info-box-content:nth-child(even){
        background-color: $secondary-color-light;
    }
    
    .info-box-content:nth-child(odd){
        background-color: $secondary-color-accent-light;
    }
}

.dark{
    color:$text-color-dark;
    background-color: $primary-color-dark;
    div.page-band{
        background-color: $page-band-color-dark;
    }
    .container {
        background-color: $page-band-color-dark;
    }
    .info-box {
        border: 2px solid $secondary-color-accent-dark; 
    }
    .info-box-content {
        border-top: 2px solid $secondary-color-accent-dark;
    }
    .info-box h3{
        border-top: 2px solid $secondary-color-accent-dark;
    }
    .info-box-content:nth-child(even){
        background-color: $secondary-color-dark;
    }
    
    .info-box-content:nth-child(odd){
        background-color: $secondary-color-accent-dark;
    }
}

body {
    @include setup;
}

div.page-band{
    width: 100%;
    padding: 20px;  
}

.container {
    @include flex(row);
    justify-content:space-between;
    padding: 10vh 10vw;
    margin: 0 5vw;
    border-radius: 10px;
}

#portraitURL {
    width: 300px;
}

#name {
    margin: 0;
    text-align: center;
    padding: 50px 0px;
}

.info-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.info-box h2,h3 {
    display: inherit;
    justify-content: inherit
}

.info-box h3{
    margin: 0;
    padding: 10px 0;
}

.list {
    display: flex;
    align-items: baseline !important;
}

.info-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.content {
    //flex-direction: column;
   // justify-content: center;
    width: 40vw;
}

.content p {
    width: 40vw;;
}

.title {
    padding: 10px 10px;
    margin: 0;
}

@media screen and (max-width: 768px){
 .container {
    padding: 10vh 5vw;
    margin: 0;
    border-radius: 0;
 }
 .info-box {
    justify-content: initial;
 }
 .dark .info-box {
    border: none;
 }
}

@media screen and (max-width: 600px) {
 .container{
    margin: 0;
    border-radius: 0;
    flex-direction: column;

 }

 .info-box {
    align-self: center;
 }

 .content {
    width: 90svw;
    padding: 10px;
    p {
        width: 90vw;;
    }
 }
}