@import "variables";
@import "mixins";

body {
    @include setup;
    background-color: $secondary-color;
    color:aliceblue;
}

div.page-band{
    width: 100%;
    background-color: rgba(15, 15, 15);
    padding: 20px;  
    color: white;
}

.container {
    @include flex(row);
    justify-content:space-between;
    padding: 10vh 10vw;
    background-color: $primary-color;
    margin: 0 5vw;
    border-radius: 10px;
    
}

#portraitURL {
    width: 300px;
}

#name {
    margin: 0;
    text-align: center;
    padding: 50px 0px;
}

.info-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid $secondary-color     

}

.info-box h2,h3 {
    display: inherit;
    justify-content: inherit
}

.section:nth-child(even){
    background-color: #0f0f0f;
}

.section div:nth-child(odd){
    background-color: #050505;
}

.info-box h3{
    border-top: 2px solid $secondary-color;
    margin: 0;
    padding: 10px 0;
}

.list {
    display: flex;
    align-items: baseline !important;
}

.info-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $secondary-color;
    padding: 0px 10px;
    
}

.gryffindor {
    background-color: $character-gryffindor-color;
}


.slytherin {
    background-color: $character-slytherin-color;
}

.none {
    background-color: $character-none-color;
}

.content {
    //flex-direction: column;
   // justify-content: center;
    width: 40vw;
}

.content p {
    width: 40vw;;
}

.title {
    padding: 10px 10px;
    margin: 0;
}
